@charset "UTF-8";

header {
    width: 100%;
    background-color: rgba(0,155,198,1);
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px;
}

body {
    background-color: rgba(151,205,243,1);
}

footer {
    text-align: center;
    width: 100%;
    background-color: rgba(0,155,198,1);
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px;
}

.nav{
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

t-align-r{
    text-align: right;
}

block{
    display: block;
}

nav.nav02{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav.nav01{
    font-size: 20px;
}

a{
    color: rgba(255,255,255,1);
    text-decoration: none;
}

.ta-c{
    text-align: center;
}

.mrg-5px{
    margin: 5px;
}

.mrgt-75px{
    margin-top: 75px;
}

.mrgb-75px{
    margin-bottom: 75px;
}

ul{
    list-style-type: none;
}

.fsize-50{
    font-size: 50px;
}

.bground-001{
    background-color: rgba(0,155,198,1);
}

.mrg-10px{
    margin: 10px;
}

.w-500px{
    width: 500px;
}

.iblock{
    display: inline-block;
}

.pad-5px{
    padding: 5px;
}

.borderc-001{
    border: double;
    border-color: rgba(255,255,255,1);
}
